In [1]:
import numpy as np
import pandas as pd

In [2]:
player_info = pd.read_csv("player_info.csv")

In [3]:
player_info.head()

,opta_id,T,E,opta_name,draft_name,ncaa_name,season,position,school,pick,generation_adidas
0,78019,12,1,Aaron Maund,Aaron Maund,Aaron Maund,2012,D,Notre Dame,12.0,0
1,110615,60,1,Alec Purdie,Alec Purdie,Alec Purdie,2012,M,Indiana,60.0,0
2,110581,15,1,Andrew Duran,Andrew Duran,Andrew Duran,2012,D,Creighton,15.0,0
3,110665,8,1,Andrew Jean-Baptiste,Andrew Jean-Baptiste,Andrew Jean-Baptiste,2012,D,UConn,8.0,1
4,110618,44,1,Andy Rose,Andy Rose,Andy Rose,2012,M,UCLA,44.0,0

In [4]:
def get_name(string):
    split_list = str.split(string, ", ")
    name = split_list[1] + " " + split_list[0]
    return name

## 2014

In [5]:
stats14 = pd.read_table("https://raw.githubusercontent.com/octonion/soccer-m/master/ncaa_pbp/csv/ncaa_player_summaries_2014_1.csv")

In [6]:
stats14.head()

,year,year_id,division_id,team_id,team_name,jersey_number,player_id,player_name,player_url,class_year,...,saves,save_pct,shutouts,g_wins,g_loss,d_saves,corners,ps,psa,gwg
0,2014,11480,1,721,Air Force,5,1254688,"Frazier, Alex",http://stats.ncaa.org/player?game_sport_year_c...,Jr,...,,NaN,,,,,,,,
1,2014,11480,1,721,Air Force,6,1131640,"Downey, Caleb",http://stats.ncaa.org/player?game_sport_year_c...,Sr,...,,NaN,,,,,,,,
2,2014,11480,1,721,Air Force,14,1465075,"Duley, Cameron",http://stats.ncaa.org/player?game_sport_year_c...,Fr,...,,NaN,,,,,,,,
3,2014,11480,1,721,Air Force,4,1358580,"Kern, Ben",http://stats.ncaa.org/player?game_sport_year_c...,So,...,,NaN,,,,,,,,
4,2014,11480,1,721,Air Force,3,1251026,"Payne, Matt",http://stats.ncaa.org/player?game_sport_year_c...,Jr,...,,NaN,,,,,,,,

In [7]:
stats14['ncaa_name'] = stats14.player_name.apply(lambda x: get_name(x))

In [8]:
info14 = player_info[player_info.season == 2014][['ncaa_name', 'school', 'season']]

In [9]:
m = pd.merge(info14, stats14, on='ncaa_name')

In [10]:
m.shape

(54, 38)

In [11]:
info14.shape

(63, 3)

In [12]:
list(set(info14.ncaa_name) - set(m.ncaa_name))

['Oliver Gore',
 'Ronny Santos Mendoza',
 'Pierre Omanga',
 'Quinton Christina',
 'Tesho Akindele',
 'Richie Marquez',
 'Joshua Wood',
 'Stefano Rijssel',
 'Andre Lewis']

In [13]:
m.to_csv("ncaa_2014_stats.csv")

## 2015

In [14]:
stats15 = pd.read_table("https://raw.githubusercontent.com/octonion/soccer-m/master/ncaa_pbp/csv/ncaa_player_summaries_2015_1.csv")

In [15]:
stats15.head()

,year,year_id,division_id,team_id,team_name,jersey_number,player_id,player_name,player_url,class_year,...,saves,save_pct,shutouts,g_wins,g_loss,d_saves,corners,ps,psa,gwg
0,2015,11701,1,721,Air Force,17,1601227,"Welch, Luke",http://stats.ncaa.org/player?game_sport_year_c...,Sr,...,,NaN,,,,,,,,
1,2015,11701,1,721,Air Force,3,1591890,"Pujats, Trey",http://stats.ncaa.org/player?game_sport_year_c...,Fr,...,,NaN,,,,,,,,
2,2015,11701,1,721,Air Force,8,1509245,"Jensen, Gus",http://stats.ncaa.org/player?game_sport_year_c...,Fr,...,,NaN,,,,,,,,
3,2015,11701,1,721,Air Force,21,1465080,"Axhoj, Tucker",http://stats.ncaa.org/player?game_sport_year_c...,So,...,,NaN,,,,,,,,
4,2015,11701,1,721,Air Force,18,1465077,"Esparza, A.J.",http://stats.ncaa.org/player?game_sport_year_c...,So,...,,NaN,,,,,,,,1

In [16]:
stats15['ncaa_name'] = stats15.player_name.apply(lambda x: get_name(x))

In [17]:
info15 = player_info[player_info.season == 2015][['ncaa_name', 'school', 'season']]

In [18]:
m = pd.merge(info15, stats15, on='ncaa_name')

In [19]:
m.shape

(61, 38)

In [20]:
info15.shape

(69, 3)

In [21]:
list(set(info15.ncaa_name) - set(m.ncaa_name))

['Adrian Reta',
 'Dzenan Catic',
 'Matias Acuna',
 'Janeil Hoilett',
 'Alberto Riascos',
 'Vladimir Hood',
 'Adria Marco Beso',
 'Jean Carlos Moscoso']

In [22]:
m.to_csv("ncaa_2015_stats.csv")

## 2016

In [23]:
stats16 = pd.read_table("https://raw.githubusercontent.com/octonion/soccer-m/master/ncaa_pbp/csv/ncaa_player_summaries_2016_1.csv")

In [24]:
stats16.head()

,year,year_id,division_id,team_id,team_name,jersey_number,player_id,player_name,player_url,class_year,...,saves,save_pct,shutouts,g_wins,g_loss,d_saves,corners,ps,psa,gwg
0,2016,12241,1,721,Air Force,6,1509245,"Jensen, Gus",http://stats.ncaa.org/player/index?game_sport_...,So,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,12241,1,721,Air Force,3,1591890,"Pujats, Trey",http://stats.ncaa.org/player/index?game_sport_...,So,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,12241,1,721,Air Force,18,1465077,"Esparza, A.J.",http://stats.ncaa.org/player/index?game_sport_...,Jr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2016,12241,1,721,Air Force,16,1465076,"Hill, Zach",http://stats.ncaa.org/player/index?game_sport_...,Sr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,2016,12241,1,721,Air Force,7,1692917,"Bone, Tucker",http://stats.ncaa.org/player/index?game_sport_...,Fr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [25]:
stats16['ncaa_name'] = stats16.player_name.apply(lambda x: get_name(x))

In [26]:
info16 = player_info[player_info.season == 2016][['ncaa_name', 'school', 'season']]

In [27]:
m = pd.merge(info16, stats16, on='ncaa_name')

In [28]:
m.shape

(62, 38)

In [29]:
info16.shape

(71, 3)

In [30]:
list(set(info16.ncaa_name) - set(m.ncaa_name))

['Elias Gomez',
 'James Nortey',
 'Thomas Libiih',
 'Jorginho James',
 'Jesus Fared',
 'Souheib Dhaflaoui',
 'Tony Alfaro',
 'Christopher Hellmann',
 'Kevaughn Frater']

In [31]:
m.to_csv("ncaa_2016_stats.csv")

## 2017

In [32]:
stats17 = pd.read_table("https://raw.githubusercontent.com/octonion/soccer-m/master/ncaa_pbp/csv/ncaa_player_summaries_2017_1.csv")

In [33]:
stats17 = stats17[~((stats17.player_name == 'Robinson, Miles') & (stats17.team_name == 'Santa Clara'))]

In [34]:
stats17.head()

,year,year_id,division_id,team_id,team_name,jersey_number,player_id,player_name,player_url,class_year,...,saves,save_pct,shutouts,g_wins,g_loss,d_saves,corners,ps,psa,gwg
0,2017,12440,1,721,Air Force,19,1812082,"Yarnell, Jacob",http://stats.ncaa.org/player/index?game_sport_...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2017,12440,1,721,Air Force,4,1465070,"Ward, Ryan",http://stats.ncaa.org/player/index?game_sport_...,Sr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,12440,1,721,Air Force,18,1465077,"Esparza, A.J.",http://stats.ncaa.org/player/index?game_sport_...,Sr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2017,12440,1,721,Air Force,21,1465080,"Axhoj, Tucker",http://stats.ncaa.org/player/index?game_sport_...,Sr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,2017,12440,1,721,Air Force,7,1692917,"Bone, Tucker",http://stats.ncaa.org/player/index?game_sport_...,So,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [35]:
stats17['ncaa_name'] = stats17.player_name.apply(lambda x: get_name(x))

In [36]:
info17 = player_info[player_info.season == 2017][['ncaa_name', 'school', 'season']]

In [37]:
m = pd.merge(info17, stats17, on='ncaa_name')

In [38]:
m.shape

(63, 38)

In [39]:
info17.shape

(69, 3)

In [40]:
list(set(info17.ncaa_name) - set(m.ncaa_name))

['Nathan Regis',
 'Shamit Shome',
 'Adonijah Reid',
 'Martim Galvao',
 'Dominic Oduro',
 'Jeremy Ebobisse']

In [41]:
m.to_csv("ncaa_2017_stats.csv")

## 2012

In [42]:
stats12 = pd.read_csv("2012_data_ncaa.csv")

In [43]:
stats12.head()

,team_name,year,division_id,jersey_number,player_name,class_year,gp,gs,goals,assists,...,saves,save_pct,shutouts,g_wins,g_loss,d_saves,corners,ps,psa,gwg
0,Notre Dame,2012,1,0,"Besler, Nick",Fr,13.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
1,Notre Dame,2012,1,0,"Brown, Leon",So,18.0,17.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
2,Notre Dame,2012,1,0,"Cicciarelli, Vince",Fr,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Notre Dame,2012,1,0,"Craft, Kyle",So,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notre Dame,2012,1,0,"Finley, Ryan",Jr,17.0,0.0,7.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
stats12['ncaa_name'] = stats12.player_name.apply(lambda x: get_name(x))

In [45]:
info12 = player_info[player_info.season == 2012][['ncaa_name', 'school', 'season']]

In [46]:
m = pd.merge(info12, stats12, on='ncaa_name')

In [47]:
m.shape

(61, 34)

In [48]:
info12.shape

(68, 3)

In [49]:
list(set(info12.ncaa_name) - set(m.ncaa_name))

['Jason Banton',
 'Kohei Yamada',
 'Gienir Garcia',
 'Benjamin Ubierna',
 'Yuri Gorentzvaig',
 'Aldo Paniagua',
 'Emiliano Bonfigli']

In [50]:
m.to_csv("ncaa_2012_stats.csv")

## Combine the Data

In [51]:
stats_14 = pd.read_csv("ncaa_2014_stats.csv")
stats_15 = pd.read_csv("ncaa_2015_stats.csv")
stats_16 = pd.read_csv("ncaa_2016_stats.csv")
stats_17 = pd.read_csv("ncaa_2017_stats.csv")
stats_12 = pd.read_csv("ncaa_2012_stats.csv")

In [52]:
stats_14_17 = pd.concat([stats_14, stats_15, stats_16, stats_17]).drop(labels=['year_id', 'team_id', 'player_url', 'player_id'], axis=1)

In [53]:
stats_14_17.columns

Index(['Unnamed: 0', 'ncaa_name', 'school', 'season', 'year', 'division_id',
       'team_name', 'jersey_number', 'player_name', 'class_year', 'gp', 'gs',
       'goals', 'assists', 'points', 'sh_att', 'fouls', 'red_cards',
       'yellow_cards', 'gc', 'goal_app', 'ggs', 'goalie_min_played', 'ga',
       'gaa', 'saves', 'save_pct', 'shutouts', 'g_wins', 'g_loss', 'd_saves',
       'corners', 'ps', 'psa', 'gwg'],
      dtype='object')

In [54]:
list(set(stats_14_17.columns) - set(stats_12.columns)), list(set(stats_12.columns) - set(stats_14_17.columns))

([], [])

In [55]:
ncaa_stats = pd.concat([stats_14_17, stats_12])

In [56]:
ncaa_stats.columns

Index(['Unnamed: 0', 'assists', 'class_year', 'corners', 'd_saves',
       'division_id', 'fouls', 'g_loss', 'g_wins', 'ga', 'gaa', 'gc', 'ggs',
       'goal_app', 'goalie_min_played', 'goals', 'gp', 'gs', 'gwg',
       'jersey_number', 'ncaa_name', 'player_name', 'points', 'ps', 'psa',
       'red_cards', 'save_pct', 'saves', 'school', 'season', 'sh_att',
       'shutouts', 'team_name', 'year', 'yellow_cards'],
      dtype='object')

In [57]:
ncaa_stats.shape

(301, 35)

In [58]:
ncaa_stats.to_csv("ncaa_stats_12_14_to_17.csv")